<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
  <h5 class="justify-content-center p-lg-5" >Oops, something's not quite right!</h5>
  <h5 class="text-center text-white mt-5">We've been notified about this issue, and we'll take a look at it shortly.</h5>
  <img th:src="@{/images/Smiles.png}" alt="Smiles">
    <br/>
    <br/>
    <a th:href="@{/}">Now you can go home...</a>
</div>

<div>
  <footer> </footer>
</div>
</body>
</html>