<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/commons::head}">

</head>
<body>
<div class="wrapper">
    <!-- Navigation -->
<header th:replace="~{fragments/commons::navigation}">
</header>

    <div class="info">
        <div></div>
        <div>
            <h4>About us! /  За нас!</h4>
            What is this? These are a few words about us and our things.
            There are parts of Bulgarian history.
            They have been collected for years and now we decided to share them with you.
            You can see them, enjoy them or buy them. It's your decision.
            Our goal is  you to learn more about Bulgarian history and enjoy it.
        </div>
        <div></div>
    </div>

</div>
<!-- Wrapper Ends -->
</body>
<footer th:replace="~{fragments/commons::footer}">
</footer>
</html>