<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/commons::head}">
</head>

<body>

<div>
    <header th:replace="~{fragments/commons::navigation}">
    </header>
</div>

<main>

<!--    <h1 class="text-center mt-2">-->
<!--        <span class="badge badge-pill badge-dark"> All items</span></h1>-->
<!--    <h1 class="text-center mt-2">-->
<!--        <span class="badge badge-pill badge-dark"-->
<!--                                       th:text="|Total count of items: ${items.size()}|">Total count of items: 11</span>-->
<!--    </h1>-->
    <hr class="hr-3"/>
    <div class="container-fluid">

        <h3 class="text-center  mt-5" style="font-family: Georgia, serif; color: #34ce57">All items</h3>
        <h3 class="text-center  mt-5" style="font-family: Georgia, serif; color: #34ce57"
            th:text="|Total count of items: ${items.size()}|">All items</h3>
        <h3 class="text-center  mt-5" style="font-family: Georgia, serif; color: #34ce57">
            If you want to know more about item, please click on it</h3>

        <div class="offers row mx-auto d-flex flex-row justify-content-center">
            <div th:each="i : ${items}"
                 th:object="${i}"
                 class="offer card col-sm-6 col-md-3  col-lg-2 m-1 p-0">
                <a >
                    <div class="card-body pb-1">
                        <h5 class="card-title text-center" th:text="|Category - *{category}|">Category</h5>
                    </div>
                    <div class="card-img-top-wrapper">
                        <img class="card-img-top" th:src="*{imageUrl}" alt="image">
                    </div>
                    <div class="card-body pb-1">
                        <h5 class="card-title text-center" th:text="|Item name - *{name}|">Item name</h5>
                    </div>
                    <ul class="offer-details list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="card-text text-center"><span th:text="|Item price - *{price}|">Item price</span>
                            </div>
                        </li>
                    </ul>

                    <div class="card-body">
<!--                        <a class="card-link" th:href="@{/items/details/{id}(id=*{id})}" >Details</a>-->

                        <a class="card-link" th:href="@{/items/details/{id}(id=*{id})}"> D</a>
                    </div>
                </a>
            </div>
        </div>
    </div>




</main>

</body>
<footer th:replace="~{fragments/commons::footer}">
</footer>
</html>


<!--th:href="@{/items/details/{id}(id = *{id})}"-->
<!--th:href="@{/items/details/{id}(id = *{id})}"-->



<!--<div class="wrapper">-->
<!--    &lt;!&ndash; Navigation &ndash;&gt;-->
<!--    <header th:replace="~{fragments/commons::navigation}">-->
<!--    </header>-->

<!--    <section th:each="i : ${items}"-->
<!--             th:object="${i}" class="road">-->
<!--        <img th:src="*{imageUrl}" alt="Title image">-->
<!--        <div>-->
<!--            <h2 th:text="*{name}"> Your </h2>-->
<!--            <h2 th:text="*{price}"> Your </h2>-->
<!--            <h2 th:text="*{category}"> Your </h2>-->
<!--            <p th:text="*{description}">This is a big description.</p>-->


<!--            <a th:href="@{/routes/details/{id}(id=*{id})}" class="btn">Learn More</a>-->

<!--        </div>-->
<!--    </section>-->
<!--</div>-->
<!--&lt;!&ndash; Wrapper Ends &ndash;&gt;-->