<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/commons::head}">
</head>

<body>

<div>
    <header th:replace="~{fragments/commons::navigation}">
    </header>
</div>


<div class="container-fluid">
    <h3 class="text-center  mt-5" style="font-family: Georgia, serif; color: #34ce57">All medals</h3>
    <div class="offers row mx-auto d-flex flex-row justify-content-center">

        <div
                th:each="m: ${medals}"
                th:object="${m}"
                class="offer card col-sm-6 col-md-3  col-lg-2 m-1 p-0">
            <div class="card-img-top-wrapper">
                <img class="card-img-top" th:src="*{imageUrl}" alt="Car image">
            </div>
            <div class="card-body pb-1">
                <h5 class="card-title" th:text="*{name}"> Order name:</h5>
            </div>
            <ul class="offer-details list-group list-group-flush">
                <li class="list-group-item">
                    <div class="card-text"><span>• Year of issue:</span>
                        <th:block th:text="*{year}">123</th:block>
                    </div>
                    <div class="card-text"><span>• Price:</span>
                        <th:block th:text="*{price}">123</th:block>
                    </div>

                    <div class="card-text"><span>• Publish on:</span>
                        <th:block th:text="*{published_on}">LLLLLL</th:block>
                    </div>

                </li>
            </ul>
            <div class="card-body">
                <a class="card-link" th:href="@{/items/details/{id}(id=*{id})}" >Details</a>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/commons::footer}">
</footer>

</body>
</html>



<!--private Long id;-->
<!--private String name;-->
<!--private String description;-->
<!--private BigDecimal price;-->
<!--private LocalDate published_on;-->
<!--private String imageUrl;-->