<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head th:replace="~{fragments/commons::head}">
</head>


<body>
<header th:replace="~{fragments/commons::nav}">
</header>



<div >

   <!-- <div class="container-fluid"> -->
   <!--<div class="container-cart rounded">-->

<!--        <div class="table-wrapper-scroll-y my-custom-scrollbar">-->

<!--            <table class=" table-cart text-center text-warning" style="height: 68.5vh;-->
<!--                overflow: auto; width:70%; margin-left: auto; margin-right: auto;-->
<!--                border-top-left-radius:38px; border-top-right-radius: 38px;-->
<!--                 border-bottom-left-radius: 0; border-bottom-right-radius: 0;-->
<!--                 background-color: #34ce57">-->


<!--                <h1 class="text-center  mt-5" style="font-family: Georgia, serif; color: #34ce57">Cart</h1>-->
<!--                <br>-->

<!--                <tr th:each="item : ${cartItems}"-->
<!--                    th:object="${item}">-->

<!--                    <td  th:text="*{name}" class="product-name">Name</td>-->

<!--                    <td  th:text="*{description}" class="description">description</td>-->

<!--                    <td th:text="*{price}" class="price text-center">price</td>-->

<!--                    <td>-->

<!--                        <form th:method="PATCH"-->
<!--                              th:action="@{/cart/remove/{id}(id = *{id})}"-->
<!--                              th:object="${item}">-->
<!--                            <button class="remove-button" type="submit">Remove-->
<!--                            </button>-->
<!--                        </form>-->

<!--                    </td>-->
<!--                </tr>-->

<!--                <tr>-->
<!--                    <td></td>-->
<!--                    <td style="text-align: end; color:orange; font-weight: bold;">-->
<!--                        Total:-->
<!--                    </td>-->
<!--                    <td style=" text-align: center; color: white; font-weight: bold;" th:text="${itemsPrice}">-->
<!--                    </td>-->
<!--                    <td></td>-->
<!--                </tr>-->
<!--            </table>-->
<!--        </div>-->



        <div class="container" style="background-color: #49857b;
            border-radius: 25px; font-family: Georgia, serif;
            margin-top: 105px;
            margin-bottom: 60px;
            width: 88%;
            margin-left: auto;
            margin-right: auto;
             padding-top: 10px">

                <h3 class="text-center" style="color: yellow; margin-top: 8px;">My cart</h3>

                <div class="row">
                    <div class="col-12">

                        <table class="table table-bordered mt-4">

                           <thead>
                               <tr style="background-color: #3a6661; color: yellow">
                                   <th scope="col" class="text-center">Number of item</th>
                                   <th scope="col" class="text-center">Name</th>
                                   <th scope="col" class="text-center">Description</th>
                                   <th scope="col" class="text-center">Price</th>
                                  <th scope="col" class="text-center">Button</th>
                               </tr>
                           </thead>

                           <tbody>

                              <tr th:each="item : ${cartItems}"
                                  th:object="${item}">
                               <th scope="row" th:text="*{id}" class="item-order" style="background-color: #34ce57">
                                 1
                               </th>

                                 <td  th:text="*{name}" class="product-name" style="background-color: #34ce57">Name</td>

                                 <td  th:text="*{description}" class="description" style="background-color: #34ce57">description</td>

                                 <td th:text="*{price}" class="price text-center" style="background-color: #34ce57">price</td>

                                <td style="background-color: #34ce57">

                                    <form th:method="PATCH"
                                          th:action="@{/cart/remove/{id}(id = *{id})}"
                                          th:object="${item}">
                                         <button class="remove-button" type="submit">Remove</button>
                                    </form>
                                </td>
                              </tr>

                           </tbody>

                            <tr>
                                <td style="background-color: #34ce57"></td>
                                <td style="background-color: #34ce57"></td>
                                <td style="text-align: end; color:orange; font-weight: bold; background-color: #34ce57">Total:</td>
                                <td style="text-align: center; color: orange; font-weight: bold; background-color: #34ce57" th:text="${itemsPrice}"></td>
                                <td style="background-color: #34ce57"></td>
                            </tr>

                         </table>



                    </div>
                </div>


               <div class="mt-2" style="margin-left: 800px; margin-bottom: 5px;">
                         <a class="finalize-order justify-content-center"
                            th:if="${cartItems.size()!=0}"
                            th:href="@{/orders/finalize}">Finalize order</a>
               </div>
        </div>
</div>


<footer th:replace="~{fragments/commons::footer}">
</footer>
</body>
</html>
