<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head th:replace="~{fragments/commons::head}">
</head>
<body>
<header th:replace="~{fragments/commons::nav}">
</header>
<main>

    <div class="container-fluid">
        <h2 class="text-center text-white mt-5">Edit item now</h2>
        <div class="offers row mx-auto d-flex flex-row justify-content-center">


            <div class="offer ccol-sm-12 col-md-22  col-lg-4 m-1 p-0">


                <form th:method="patch"
                      th:object="${editedItem}"
                      th:action="@{/items/edit/{id}(id=*{id})}"
                      class="text-center text-green">

<!--                    <ul class="offer-details list-group list-group-flush">-->
<!--                        <li class="list-group-item">-->
<!--                            <div class="card-text"><span>• Year of issue</span></div>-->
<!--                            <th:block th:text="*{year}">1888</th:block>-->
<!--                        </li>-->
<!--                        <li class="list-group-item">-->
<!--                            <div class="card-text"><span>• description</span></div>-->
<!--                            <p th:text="*{description}"-->
<!--                               class="card-text">Lorem ipsum </p>-->
<!--                        </li>-->
<!--                        <li class="list-group-item">-->
<!--                            <div class="card-text"><span>• Price</span></div>-->
<!--                            <th:block th:text="*{price}">123</th:block>-->
<!--                        </li>-->
<!--                    </ul>-->

                    <div class="form-group">
                        <label for="year" class="col-form-label ">Year</label>
                    </div>
                    <div class="form-group">
                        <input th:field="*{year}"
                               th:errorclass="'is-invalid bg-danger'"
                               type="number"
                               name="year"
                               id="year"
                               class="form-control"
                               aria-describedby="inputYear">
                        <small id="inputYear"
                               class="invalid-feedback  form-text bg-danger rounded">Must be valid year</small>
                    </div>


                    <div class="form-group">
                        <label for="inputDescription" class="col-form-label ">Description</label>
                    </div>
                    <div class="form-group">
                    <textarea th:field="*{description}"
                              th:errorclass="'is-invalid bg-danger'"
                              required minlength="5"
                              name="description"
                              id="inputDescription"
                              class="form-control-file"
                              aria-describedby="inputDescriptionError"></textarea>
                        <small id="inputDescriptionError"
                               class="invalid-feedback  form-text bg-danger rounded">Description length must be more
                            than 5
                            characters</small>
                    </div>

                    <div class="form-group">
                        <label for="price" class="col-form-label ">Price</label>
                    </div>
                    <div class="form-group">
                        <input th:field="*{price}"
                               th:errorclass="'is-invalid bg-danger'"
                               type="number"
                               name="price"
                               id="price"
                               class="form-control"
                               aria-describedby="inputPrice">
                        <small id="inputPrice"
                               class="invalid-feedback  form-text bg-danger rounded">Must be valid price</small>
                    </div>
                </form>
            </div>


            <div class="d-flex justify-content-center">
                <form>
                    <input type="submit" value="UPDATE ITEM NOW" class="link card-link"/>
                </form>
            </div>

<!--            <div class="d-flex justify-content-center">-->
<!--                <button class="w-100 btn btn-lg btn-primary" type="submit" value="UPDATE ITEM NOW" >-->
<!--                    Edit-->
<!--                </button>-->
<!--            </div>-->


        </div>
    </div>


</main>
<footer th:replace="~{fragments/commons::footer}">
</footer>
</body>
</html>
